BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Linux
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left

Cpp11BracedListStyle: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<'
    Priority: 1
  - Regex: '.*'
    Priority: 2
